functions/step_functions.json
{
  "StartAt": "convertToAudio",
  "States": {
    "convertToAudio": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "ResultPath": "$.convertToAudioResult",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:618044871166:function:videosum-convertToAudio:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "transcribeJob"
    },
    "transcribeJob": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:618044871166:function:videosum-transcribeJob:$LATEST",
      "InputPath": "$.convertToAudioResult",
      "ResultPath": "$.transcribeJobReuslt",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "WaitForJobCompletion"
    },
    "WaitForJobCompletion": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "checkJobStatusFormatting"
    },
    "checkJobStatusFormatting": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:618044871166:function:videosum-checkJobStatusFormatting:$LATEST",
      "InputPath": "$.transcribeJobReuslt",
      "OutputPath": "$.checkJobStatusFormattingResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "JobComplete?",
      "ResultPath": "$.checkJobStatusFormattingResult"
    },
    "JobComplete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.checkJobStatusFormattingResult.jobStatus",
          "StringEquals": "COMPLETED",
          "Next": "mainSummaryEnglish"
        }
      ],
      "Default": "WaitForJobCompletion"
    },
    "mainSummaryEnglish": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:618044871166:function:videosum-mainSummaryEnglish:$LATEST",
      "InputPath": "$.checkJobStatusFormattingResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "mainSummaryTranslation",
      "ResultPath": "$.checkJobStatusFormattingResult"
    },
    "mainSummaryTranslation": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:618044871166:function:videosum-mainSummaryTranslation:$LATEST",
      "InputPath": "$.checkJobStatusFormattingResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "splitPartsSummary",
      "ResultPath": "$.checkJobStatusFormattingResult"
    },
    "splitPartsSummary": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:618044871166:function:videosum-splitPartsSummary:$LATEST",
      "InputPath": "$.checkJobStatusFormattingResult",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "End": true
    }
  }
}